{
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "settings": {
    "import/resolver": {
      "webpack": { "config": "./webpack/webpack.prod.config.js" }
    }
  },
  "env": {
    "browser": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "rules": {
    "quotes": ["error", "single"],
    "no-extra-semi": "error",
    "semi": ["error", "never"],
    "comma-dangle": [
      "error",
      "never"
    ],
    "no-unused-vars": [
      "error",
      {
        "vars": "all",
        "args": "none"
      }
    ],
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error",
    "no-confusing-arrow": 0,
    "global-require": 0
  }
}